<!--================ Start Registration Area =================-->
    <div class="section_gap registration_area" id="home">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6 offset-lg-3">
            <div class="register_form">
            <h3>Registration Successful</h3>
            <p>Thank You {{entry.FullName}}</p>
            <p>Your Exam Number is :</p>
            <h1>{{entry.ExamNumber}}</h1>
            <p><b>Do not share your Exam Number!</b></p>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <!--================ End Registration Area =================-->

