
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../public/img/favicon.png" type="image/png" />
    <title>Project Skujy</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" >
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="button" class="btn"></button>
              <span
                class="lnr lnr-cross"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg">
          <div class="container bg-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <a class="navbar-brand" href="/" style="color: #00afe0fb" -->
            <a class="navbar-brand" href="/">
              <span style="color: #222">Project</span>
              <span style="color: #ec7f37">Skujy</span></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/register">Registration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home/competition">Competition</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->
   

    {{{body}}}

    <!--================ Start footer Area  =================-->
    <footer class="footer-area">
      <div class="container">
        <div class="row py-4 mt-0 footer-bottom d-flex justify-content-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white text-center">
            Copyright © <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> All rights reserved | Project Skujy
          </p>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../public/js/theme.js"></script>
  </body>
</html>